### Node ###

# Logs
logs
*.log
npm-debug.log*

# tsc build output
lib/

# Dependency directories
node_modules/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# output dir
out/*.csv